<h1><%= pluralize(@events.size, 'Event') %></h1>



<ul>
 <%  @events.each do |event| %>
 <li>

   <strong><%= link_to(event.name, "events/#{event.id}") %></strong>
   <h3><%= pluralize(event.capacity, 'spot') %></h3>
        in <%= event.location %>.
        <br>
        Price:  <%= format_price(event) %>
        <br>
        When: <%= event.starts_at.to_s() %>
 </li>
 <%= image_for(event) %>
 <p>
   Description: <%= truncate(event.description, length: 35, separator: ' ')%>
 </p>
 <% end %>
</ul>
