<article class="">


<%= image_for(@event) %>
<h3>What</h3>
<p>
  <%= @event.name %>
</p>

<h3>Starts At</h3>
<p>
  <% if @event.starts_at == nil %>
    <%= "TBD" %>
  <% else %>
    <%= @event.starts_at %>
  <% end %>
</p>

<h3>Where</h3>
<p>
  <%= @event.location %>
</p>
<h3>Price</h3>
<p>
  <%= format_price(@event) %>
</p>
<h3>Capacity</h3>
<p>
  <%= pluralize(@event.capacity, 'spot')%>
</p>

</article>

<%= link_to "Edit", edit_event_path(@event) %>
<%= link_to 'Delete', event_path(@event), method: :delete, data: {confirm: 'Are you sure?'} %>
