<!DOCTYPE html>
<html>
  <head>
    <title>Events</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <header style="color: #F0F0F0; background: #237CBE;">
      <h1>Music Fests</h1>
    </header>
    <%= yield %>

    <footer style="background: #F0F0F0; color: #237CBE;">
      <p>
        copyright &copy; 2016 Dean Palm
      </p>
    </footer>

  </body>
</html>
